
body {
    background: rgba(0, 0, 0, 0) url("../img/bg1.jpg") no-repeat scroll 0 0 / 100% auto;
    font-family: "Open Sans",sans-serif;
}


.content{

	width: 650px;
	position: absolute;
	left: 50%;
	margin-left: -325px;
	vertical-align: middle;
}

.titulo, .footer {
    background: #1f0802;
    border-radius: 10px 10px 0 0;
    color: #F4EAEA;
    padding: 10px;
    width: 630px;  
    opacity: 0.8;
}

.footer {
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    text-align: center;
}

.titulo > img {
    border-right: 2px solid #f4eaea;
    float: left;
    margin-right: 12px;
    padding-right: 10px;
}

.titulo h1 {
    font-size: 28px;
    line-height: 43px;
    margin: 0;
}

.sub-content span {
    font-size: 21px;
}

.sub-content {
    background: #f4eaea none repeat scroll 0 0;
    color: #1f0802;
    font-size: 59px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 630px;
    opacity: 0.6;
}
