# Error pages redirect
# NOT FOUND
ErrorDocument 404	/index.php?controle=Principal&acao=errorPage&code=404
# BAD REQUEST
ErrorDocument 400	/index.php?controle=Principal&acao=errorPage&code=400
# INTERNAL SERVER ERROR
ErrorDocument 500	/index.php?controle=Principal&acao=errorPage&code=500
# REQUEST TIMEOUT
ErrorDocument 408	/index.php?controle=Principal&acao=errorPage&code=408
# BAD GATEWAY
ErrorDocument 502	/index.php?controle=Principal&acao=errorPage&code=502
# SERVICE UNAVAILABLE
ErrorDocument 503	/index.php?controle=Principal&acao=errorPage&code=503

Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On

################################################## REGRAS INSTALAÇÂO
RewriteRule ^banco/?$ banco-teste.php [L,QSA]
RewriteRule ^parametros/?$ parametros.php [L,QSA]
RewriteRule ^login/?$ credenciais.php [L,QSA]
RewriteRule ^instalando/?$ instalando.php [L,QSA]
RewriteRule ^sucesso/?$ sucesso.php [L,QSA]
